<library path="lib/librqt_line_sensor_control">
  <class name="linesensorcontrol/LineSensorControl"
         type="linesensorcontrol::LineSensorControl"
         base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to control a robot's line sensors
    </description>
    <qtgui>
      <group>
        <label>Design Special Project 5</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to Design Special Project 5</statustip>
      </group>
      <label>Line Sensor Control</label>
      <icon type="theme">battery-low</icon>
      <statustip>A GUI plugin to control a robot's line sensors</statustip>
    </qtgui>
  </class>
</library>
