<library path="lib/librqt_neural_network_diagnostics">
  <class name="neuralnetworkdiagnostics/NeuralNetworkDiagnostics"
         type="neuralnetworkdiagnostics::NeuralNetworkDiagnostics"
         base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to display neural network diagnostic information.
    </description>
    <qtgui>
      <group>
        <label>Design Special Project 5</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to Design Special Project 5</statustip>
      </group>
      <label>Neural Network Diagnostics</label>
      <icon type="theme">zoom-in</icon>
      <statustip>A GUI plugin to display neural network diagnostic information.</statustip>
    </qtgui>
  </class>
</library>
