<library path="lib/librqt_line_sensor_view">
  <class name="linesensorview/LineSensorView"
         type="linesensorview::LineSensorView"
         base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A rqt GUI plugin to view the state of a robot's line sensors
    </description>
    <qtgui>
      <group>
        <label>Design Special Project 5</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to Design Special Project 5</statustip>
      </group>
      <label>Line Sensor View</label>
      <icon type="theme">face-angel</icon>
      <statustip>A GUI plugin to view the state of a robot's line sensors</statustip>
    </qtgui>
  </class>
</library>
